# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
/playwright-report
/test-results

# Next.js
/.next/
/out/

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/prisma/backups

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Miscellaneous
/scratch/
/public/uploads/
*.log
/tmp/